
.imagesindex{
    height: 100vh;
    width: 100vw;
    box-shadow:  0 21px 101px rgb(0 0 0), 0 0 6px rgb(202 151 187 / 64%)
}
.indeximages{
    position: absolute;
    top:50%;
    color: rgba(204, 203, 203, 0.281);

}
.indeximages h2{
  letter-spacing: 5px;
  font-size:40px;

}
.indeximages h1{
    letter-spacing: 5px;
    font-size: 30px;
  
  }

/* Body index*/
.bodyIndex .contenu h2 {
    text-align: center;
    font-weight: 700;
    letter-spacing: 2px;
    text-transform: uppercase;
    overflow: hidden;
  color: rgb(37, 42, 97);

    
} 


.bodyIndex .contenu p {
    text-align: left;
    font-weight: 500;
   font-size: 20px;
   color:rgb(97 93 93 / 82%);
   text-transform: lowercase;
   overflow: hidden;
}
/* card - text */

.card-text{
    font-size: 20px;
    word-spacing: 1px;
}

.bodyIndex h5{
    font-weight: 700;
    text-transform:lowercase;
    color:rgb(37, 42, 97);
}

.bodyIndex .card{
    border-radius: 14px;
    cursor: pointer;
    
}
.bg-body{
    background-color: whitesmoke;
}

.bodyIndex .notreexpertise .contenu h1 {
    text-align:center;
    font-weight: 900;
    letter-spacing: 2px;
    text-transform: uppercase;
    overflow: hidden;
    color: #def4e4 !important;
    padding: 10px;
  
   
}

.bodyIndex .notreexpertise .contenu p {

    font-size: 21px;
    overflow: hidden;
    color: #cfe2f1 !important;
    padding: 10px;
   
   
}

.notreexpertise {
    height: auto;
    width: 100%;
    padding: 30px;
    background-color: #222d35 !important;

    box-shadow: 13px 5px 39px 27px #1c1c239c;
}


p,h1,h2,h3,h4,h5,h6{
    overflow: hidden;
}
.btn1,.btn2,.btn3,.btn4{
    text-align: left;
    font-weight: 800;
    color: rgb(0, 0, 0);
    font-family:'Vollkorn', serif;
    font-size: 16px;

  
    
}
.notreservice{
    background-color: #d6d1d61a;
    padding: 30px;
    width: 100%;

}

ul.a{
    font-weight: 700;
    list-style-type:none;
 

}

.notrequalité {
    background-color: #8f2b2b !important;
    padding: 61px;
    margin: 5px;
    box-shadow: 13px 5px 39px 27px #ff68536e;
}

.mycard{
    border-radius:7%;
    background: #fff;
    box-shadow: 0 6px 10px rgba(236, 43, 43, 0.507), 0 0 6px rgba(250, 0, 0, 0.301);
    transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
  cursor: pointer;
  transition: all 0.5s;
}

.mycard:hover{
    transform: scale(1.2);
   box-shadow: 0 6px 20px rgb(238, 179, 225), 0 0 6px rgba(255, 2, 179, 0.637);
   background-color: rgba(255, 232, 248, 0.445);
   transition: all 0.3s;

}

.mycard h5{
  font-weight: 600;
}
.border {
    border: 1px solid #ff00cc96!important;
}

.card-img, .card-img-top {
    border-top-left-radius: calc(.25rem - 1px);
    border-top-right-radius: calc(.25rem - 1px);
    border-radius: 3%;
}
.pulse-danger {
    box-shadow: 0 0 0 rgb(220 53 69 / 50%);
    animation: pulse-danger 2s infinite;
}

@media (max-width: 576px) {  
    .imagesindex{
        height:0%;
        width: 100vw;
     
    }
    .indeximages{
        opacity: 0;
        
    }


}
 
/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media (max-width: 768px) {  
    .imagesindex{
        height:0%;
        width: 100vw;
     
    }
    .indeximages{
        opacity: 0;
    }
}
 
/* Large devices (desktops, 992px and up) */
@media (max-width: 992px) { 
    .imagesindex{
        height:0%;
        width: 100vw;
     
    }
    .indeximages{
        opacity: 0;
    }
}
 
@media (max-width: 1265px) { 
    .imagesindex{
        height:0%;
        width: 100vw;
     
    }
    .indeximages{
        opacity: 0;
    }
}
@media (max-width: 1506px) { 
    .imagesindex{
        height:0%;
        width: 100vw;
     
    }
    .indeximages{
        opacity: 0;
    }
}
 