.navbar{
   display: flex;
}

.navbar-nav li{
   text-align: center;
   letter-spacing:1.5px;
  
   font-size: 23px;
   font-weight:600;  
}
.navbar-dark .navbar-nav .nav-link{
   color:#ffffffdf;
   padding: 0;
   margin: 0;
  
}



.navbar-light .navbar-nav .nav-link{
   color:#000;
 
}

#contacter{
  
   font-size: 20px;
   color: rgb(0,128,255);
   }
.navbar-light .navbar-nav .nav-link:hover{
   color : rgb(255, 100, 100);
   transition: 0.3s;
  }
.navbar-light .navbar-nav .nav-link::after {
   display:block;
   content: '';
   border-bottom: solid 3px rgb(255, 100, 100);  
   transform: scaleX(0);  
   transition: transform 0.3s ease-in-out;
   transform:100% 50%
 }
 .navbar-light .navbar-nav .nav-link:hover::after { 
    
   transform: scaleX(1);
   transform:0 50%;
 }

.navbar-light .navbar-toggler {
   color: rgb(255 255 255 / 55%);
   border-color: rgb(255 255 255 / 0%);
}
