.navbar{
   display: flex;
}

.navbar-nav li{
   text-align: center;
   letter-spacing:1.5px;
  
   font-size: 23px;
   font-weight:600;  
}
.navbar-dark .navbar-nav .nav-link{
   color:#ffffffdf;
   padding: 0;
   margin: 0;
  
}



.navbar-light .navbar-nav .nav-link{
   color:#000;
 
}

#contacter{
  
   font-size: 20px;
   color: rgb(0,128,255);
   }
.navbar-light .navbar-nav .nav-link:hover{
   color : rgb(255, 100, 100);
   transition: 0.3s;
  }
.navbar-light .navbar-nav .nav-link::after {
   display:block;
   content: '';
   border-bottom: solid 3px rgb(255, 100, 100);  
   transform: scaleX(0);  
   transition: transform 0.3s ease-in-out;
   transform:100% 50%
 }
 .navbar-light .navbar-nav .nav-link:hover::after { 
    
   transform: scaleX(1);
   transform:0 50%;
 }

.navbar-light .navbar-toggler {
   color: rgb(255 255 255 / 55%);
   border-color: rgb(255 255 255 / 0%);
}




/*button back to top*/
 @media screen and (max-width: 640px) { 
   
}
.to-top{

   background-color: rgba(243, 243, 243, 0.856);
   position: fixed;
   bottom:20px;
   right:32px;
   width:50px;
   height:50px;
   border-radius: 50%;
   display: flex;
   align-items: center;
   justify-content: center;
   font-size: 32px;
   color: rgb(241, 119, 119);
    text-decoration: none;
    opacity:0;
    pointer-events: none;
    transition: all .4s;
    box-shadow: 10px 10px 10px  rgba(236, 108, 108, 0.438);
    z-index: 2000;
}
.to-top.active{
   bottom: 40px;
   opacity: 1;
   pointer-events: auto;
   text-decoration: none;
   color: rgb(241, 119, 119);
   z-index: 2000;
}

/*follow curseur desing*/

.curseur{
 
   position: fixed;
   width:40px;
   height: 40px;
   border: 3px solid rgb(241, 119, 119);
   border-radius: 50%;
   left: 0;
   top:0;
   pointer-events: none;
   transform:  translate(-50%,-50%);
   z-index: 100000;
  transition: all .1s;
}
.curseur2{
   position: fixed;
   width:8px;
   height:8px;
background-color: rgb(61, 3, 3);
   border-radius: 50%;
   left: 0;
   top:0;
   pointer-events: none;
   transform:  translate(-50%,-50%);
   z-index: 100000;
   transition: all .15s;

}

/*pree loder */
/*
.loader_bg{
   position: fixed;
   z-index: 999999;
    background: rgb(255, 255, 255);
    width: 100%;
    height: 100%;
    overflow: hidden;
}
   
.loader {
    border: 0 solid transparent;
    border-radius: 50%;
    width:200px;
    height:200px;
    position: absolute;
    top:calc(50vh - 75px);
    left: calc(50vw - 75px);
    overflow: hidden;
}

.loader::before, .loader::after{
    content:'';
    border: 1em solid rgb(255, 90, 90);
    border-radius: 50%;
    width:inherit;
    height: inherit;
    position: absolute;
    top: 0;
    left :0;
    animation: loader 2s linear infinite;
    opacity: 0;
    overflow: hidden;
}


.loader:before{
   animation-delay: .8s;
   overflow: hidden;
}

@keyframes loader{
   0%{
       transform: scale(0);
       opacity: 0;
   }
   50%{
       opacity: 1;
   }
   100%{
       transform: scale(1);
       opacity: 0;
   }
}*/